@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.App {
  text-align: center;
  background-color: #0c0b0b;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Righteous', cursive;
}
