/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

/* @import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

::selection{
  color: black;
  background: #D093C3;
} 

::-moz-selection 
  {
    color: black;
    background: #D093C3;
  } 

  ::-webkit-scrollbar {
    width: 0.5vmin;
  }
  
  
  ::-webkit-scrollbar-track {
    background: #0c0b0b;
  }

  ::-webkit-scrollbar-thumb {
    background: #555;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  } */
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

  * {
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: sans-serif;
    background:#111;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.822), black );  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right,rgba(0, 0, 0, 0.822), black ); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
  
  body, html, .App, #root, .outer {
    width: 100%;
    height: 100%;
  }
  
  
  .navbar-light {
    background-color: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  }

  .heading{
    color: aquamarine;
  }

  .labels{
    color: #ffffff;
    font-family: 'Ubuntu';
  }
  
  .outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }
  
  .inner {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }
  
  .outer .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
  }
  
  .outer h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
  
  .form-group{
    margin-top: -2vmin;
  }

  .custom-control-label {
    font-weight: 400;
    color: #ffffff;
  }
  
  .btn-color{
    background-color: #D093C3;
  }

  .table-head{
    background-color: #D093C3;
  }

  .forgot-password,
  .forgot-password a {
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
  }
  
  .forgot-password a {
    color: #167bff;
  }

  /* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  /* background-color: #111; */
}

/* Control the right side */
.right {
  right: 0;
  /* background-color: #111; */
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  border-radius: 10%;
}

.bg{
  /* background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(https://wallpaperaccess.com/full/3995859.jpg); */
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(https://free4kwallpapers.com/uploads/originals/2015/09/25/blurred-background-city.jpg);
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.bg1{
  /* background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(https://images.unsplash.com/photo-1475070929565-c985b496cb9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTB8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80); */
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(https://free4kwallpapers.com/uploads/originals/2015/09/25/blurred-background-city.jpg);
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}


